.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f7f7f7;
    direction: rtl;
}

.content {
    max-width: 95% !important;
    min-width: 95% !important;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.gameDetailsSection,
.playersSection,
.teamsSection {
    margin-bottom: 30px;
    text-align: right;
}

.googleMapsButton {
    margin: 10px 0;
}

.paymentBox {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
}

.playersList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.playerCard {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
}

.addPlayerCard {
    width: 150px;
    align-items: center;
    cursor: pointer;
    background-color: #4CAF50 !important;
}

.participate {
    border: 2px solid green;
}

.substitute {
    border: 2px solid orange;
}

.bench {
    border: 2px solid red;
}

.teamBox {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.shuffleButton {
    margin-bottom: 10px;
}

.actionsContainer {
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-top: 25px;
}

.gameMetaContainer {
    display: flex;
    justify-content: space-between
}

.shareButton {
    top: 10px;
}

.actionButtonMaps,
.actionButtonPayment {
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

h3 {
    margin-bottom: 5px !important;
}

@media (max-width: 480px) {

    .actionsContainer {
        width: 100%;
        margin-top: 25px;
    }

    .actionButtonMaps,
    .actionButtonPayment,
    .shuffleButton {
        width: 100% !important;
        text-align: center;
    }

    .playerCard {
        width: 160px;
    }

    .addPlayerCard {
        width: 160px;
        flex-grow: 0;
    }

    .playersList {
        justify-content: space-between;
    }

    .playersSection {
        text-align: center;
    }

    .teamsSection {
        text-align: center;
    }

    .teamBox {
        margin-bottom: 20px;
    }
}